consigna_neural_ode_alerta_ddos.docx

# Data
data/raw/
data/processed/
*.pt
*.csv

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/

# MLflow
mlruns/
mlartifacts/

# OS
.DS_Store
Thumbs.db

# Checkpoints
checkpoints/

# Results
results/

# IDE
.vscode/
.idea/
